
<nav class="language-select {{params.class}}" aria-label="{{params.ariaLabel}}">
    <ul class="govuk-list language-select__list">
        {% for pageIndex,lang in params.languages.entries() %}
            <li class="language-select__list-item" tabindex="{{pageIndex}}">
                {% if params.language == lang.code %}
                    <span aria-current="language">{{ lang.text }}</span>
                {% else %}
                    <a class="govuk-link govuk-link--no-visited-state language-select__link" href="?lng={{ lang.code }}">
                        {{ lang.text }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
