{% block head %}
  <link rel="stylesheet" href="/stylesheets/govuk-frontend-4.7.0.min.css"/>
{% endblock %}

{% extends "govuk/template.njk" %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% block skipLink %}
  {{ govukSkipLink({ 
  href: "#main-content", 
  text: 'Skip to main content' }) }}
{% endblock %}

{% block header %}
  {{ govukHeader({}) }}
{%endblock %}

{% block main %}
  <div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
  </div>
  <script src="/ga4-assets/analytics.js"></script>
  <script>
    window
      .DI
      .appInit({ga4ContainerId: '{{ ga4ContainerId }}'})
  </script>
{% endblock %}

{% block footer %}
  {{ govukFooter({ 
      meta: { 
        items: [ { 
          href: "#",
          text: "Help" }, { 
            href: "#", 
            text: "Cookies" }, { 
              href: "#", 
              text: "Contact" },
  { href: "#", 
  text: "Terms and conditions" } ] } }) }}
{% endblock %}