{% extends 'common/base.njk' %}
{% set title = 'Choose Location' %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% block backLink %}
  {{ govukBackLink({ text: "Back", href: "/service-description" }) }}
{% endblock %}
{% block content %}

  <form method="post" id="chooseLocationForm">

    {{ govukSelect({
  id: "choose-location",
  name: "chooseLocation",
  label: {
    text: "Choose your location",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "This can be different to where you went before"
  },
  errorMessage: {
    text: "Select a location"
  }if showError,
  items: [
    {
      value: "",
      text: "Choose location",
      selected: true
    },
    {
      value: "East Midlands",
      text: "East Midlands"
    },
    {
      value:  "East of England",
      text: "East of England"
    },
    {
      value: "London",
      text: "London"
    },
    {
      value: "North East",
      text: "North East"
    },
    {
      value: "North West",
      text: "North West"
    },
    {
      value: "South East",
      text: "South East"
    },
    {
      value: "South West",
      text: "South West"
    },
    {
      value: "West Midlands",
      text: "West Midlands"
    },
    {
      value: "Yorkshire and the Humber",
      text: "Yorkshire and the Humber"
    }
  ]
}) }}
    {{ govukButton({
  text: "Continue",
  type: "submit"
}) }}
  </form>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const storedChooseLocation = localStorage.getItem("chooseLocation");
      const dropdownToSelect = document.getElementById("choose-location");

      // if check must remain, else default text does not show
      if (storedChooseLocation) {
        dropdownToSelect.value = storedChooseLocation;
      }
    });

    document
      .getElementById("chooseLocationForm")
      .addEventListener("submit", function (event) {
        event.preventDefault();

        const chooseLocation = document
          .getElementById("choose-location")
          .value;

        localStorage.setItem("chooseLocation", chooseLocation);

        const urlParams = new URLSearchParams(window.location.search);
        const editModeQuery = urlParams.get("editMode") === "true"
          ? "?editMode=true"
          : ""
        document
          .getElementById("chooseLocationForm")
          .action = `/validate-choose-location${editModeQuery}`

        this.submit();
      });
  </script>
{% endblock %}