{% extends 'common/base.njk' %}
{% set title = 'Choose Location' %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% block backLink %}
  {{ govukBackLink({ text: "Back", href: "/service-description" }) }}
{% endblock %}
{% block content %}

  <form method="post" action="/validate-choose-location" id="chooseLocationForm">

    <h1 class="govuk-heading-l">Choose your location</h1>

    {{ govukSelect({
  id: "choose-location",
  name: "chooseLocation",
  fieldset: {
    legend: {
      text: "What is your location?",
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "This can be different to where you went before"
  },
  errorMessage: {
    text: "Select a location"
  }if showError,
  items: [
    {
      value: "",
      text: "Choose location",
      selected: true
    },
    {
      value: "eastmidlands",
      text: "East Midlands"
    },
    {
      value: "eastofengland",
      text: "East of England"
    },
    {
      value: "london",
      text: "London"
    },
    {
      value: "northeast",
      text: "North East"
    },
    {
      value: "northwest",
      text: "North West"
    },
    {
      value: "southeast",
      text: "South East"
    },
    {
      value: "southwest",
      text: "South West"
    },
    {
      value: "westmidlands",
      text: "West Midlands"
    },
    {
      value: "yorkshire",
      text: "Yorkshire and the Humber"
    }
  ]
}) }}
    {{ govukButton({
  text: "Continue",
  type: "submit"
}) }}
  </form>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const storedChooseLocation = localStorage.getItem("chooseLocation");
      const dropdownToSelect = document.getElementById("choose-location");

      // if check must remain, else default text does not show
      if (storedChooseLocation) {
        dropdownToSelect.value = storedChooseLocation;
      }
    });

    document
      .getElementById("chooseLocationForm")
      .addEventListener("submit", function (event) {
        event.preventDefault();

        const chooseLocation = document
          .getElementById("choose-location")
          .value;

        localStorage.setItem("chooseLocation", chooseLocation);

        this.submit();
      });
  </script>
{% endblock %}