{% extends 'common/base.njk' %}
{% set title = 'Confirmation Page' %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set organisationTypeHtml %}
<script>
  document.write(organisationTypes["governmentDepartmentOrMinistry"])
</script>
{% endset %}

{% set helpWithHintsHtml %}
<script>

  const helpWithHint = {
    "gettingAccessToTheIntegrationEnvironmentToTestGOV.UKOneLogin": "Getting access to the integration environment to test GOV.UK One Login",
    "havingATechnicalDiscussion": "Having a technical discussion",
    "walkingThroughTheOnboardingProcess": "Walking through the onboarding process",
    "understandingTheGOV.UKOneLoginProgrammeInMoreDetail": "Understanding the GOV.UK One Login programme in more detail",
    "other": "Other"
  };
  const localStorageValue = localStorage.getItem("helpWithHint");

  if (localStorageValue) {
    const values = localStorageValue
      .split('/')
      .map(el => {
        return ` ${helpWithHint[el]}`;
      });

    document.write(values)
  }
</script>
{% endset %}

{% set serviceDescriptionHtml %}
<script>
  document.write(localStorage.getItem("serviceDescription"));
</script>
{% endset %}

{% set chooseLocationHtml %}
<script>

  const locations = {
    "eastmidlands": "East Midlands",
    "eastofengland": "East of England",
    "london": "London",
    "northeast": "North East",
    "northwest": "North West",
    "southeast": "South East",
    "southwest": "South West",
    "westmidlands": "West Midlands",
    "yorkshire": "Yorkshire and the Humber"
  };

  document.write(locations[localStorage.getItem("chooseLocation")]);
</script>
{% endset %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% block backLink %}
  {{ govukBackLink({ text: "Back", href: "/enter-email" }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Check answers</h1>

  {{ govukSummaryList({
    classes: "govuk-summary-list__row--no-actions",
      fieldset: {
    legend: {
      text: "Check answers",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  rows: [
    {
      key: {
        text: "What is your organisation type?"
      },
    value: {
        html:  organisationTypeHtml 
      }
    },
    {
      key: {
        text: "What would you like help with?"
      },
      value: {
        html: helpWithHintsHtml
      }
    },
    {
      key: {
        text: "Describe your service"
      },
      value: {
        html: serviceDescriptionHtml
      }
    },
    {
      key: {
        text: "Choose your location"
      },
      value: {
        html:  chooseLocationHtml
      }
    }
  ]
}) }}

{% endblock %}