{% extends 'common/base.njk' %}
{% set title = 'Confirmation Page' %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% block backLink %}
  {{ govukBackLink({ text: "Back", href: "/enter-email" }) }}
{% endblock %}

{% block content %}

  {{ govukSummaryList({
      fieldset: {
    legend: {
      text: "What would you like help with?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  rows: [
    {
      key: {
        text: "Describe your service"
      },
      value: {
        text: "Sarah Philips"
      }
    },
    {
      key: {
        text: "What would you like help with?"
      },
      value: {
        text: "5 January 1978"
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: "72 Guild Street<br>London<br>SE23 6FH"
      }
    },
    {
      key: {
        text: "Contact details"
      },
      value: {
        html: '<p class="govuk-body">07700 900457</p><p class="govuk-body">sarah.phillips@example.com</p>'
      }
    }
  ]
}) }}

{% endblock %}