{% extends 'common/base.njk' %}
{% set title = 'Journey Guard' %}
{%block content%}
    <h1 class="govuk-heading-l">Sorry, you can not access OneLogin GOV.UK from this page </h1>
    <p class="govuk-body">
        <a href="/" class="govuk-link"> Go to the GOV.UK OneLogin homepage</a> to find the service you need.
</p>
    {%endblock%}