{% extends 'base.njk' %}
{% set title = 'Organisation Type' %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% block beforeContent %}

    {{ govukBackLink({
  text: "Back",
  href: "/"
}) }}
{% endblock %}
{% block content %}

    <form method="get" action="#">
        {{ govukRadios({
  name: "organisationType",
  
  fieldset: {
    legend: {
      text: "Organisation type",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      
    }
  },
  items: [
    {
      value: "governmentDepartmentOrMinistry",
      text: "Government department or Ministry"
    },
    {
      value: "executiveAgency",
      text: "Executive Agency"
    },
    {
      value: "armsLengthBody",
      text: "Arms length body"
    },
    {
      value: "other",
      text: "Other"
    }
  ],
  errorMessage: {
    text: "Select one option"
  }
}) }}

        <div class="govuk-button-group">
            {{ govukButton({
    text: "Submit"
  }) }}

        </div>
    </form>

{% endblock %}