{% extends 'common/base.njk' %}
{% set title = 'Organisation Type' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block backLink %}
  {{ govukBackLink({
  text: "Back",
  href: "/"
}) }}
{% endblock %}
{% block content %}

  <form method="post" action="/validate-organisation-type" id="organisationForm" style="display: none">
    {{ govukRadios({
  name: "organisationType",
  id: "organisation-type",
  fieldset: {
    legend: {
      text: "Organisation type",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      
    }
  },
  items: [
    {
      value: "governmentDepartmentOrMinistry",
      text: "Government department or Ministry"
    },
    {
      value: "executiveAgency",
      text: "Executive Agency"
    },
    {
      value: "armsLengthBody",
      text: "Arms length body"
    },
    {
      value: "other",
      text: "Other"
    }
  ],
   errorMessage:  { text: "Select one option" }  if showError
}) }}

    {{ govukButton({
    text: "Continue",
    type: 'submit'
  }) }}

  </form>

  <div id="sorryMessage" style="display: none;">
    <h1 class="govuk-heading-l">Sorry, you can not access OneLogin GOV.UK from this page </h1>
    <p class="govuk-body">
      <a href="/" class="govuk-link"> Go to the GOV.UK OneLogin homepage</a> to find the service you need.
</p>
  </div>

  <script>

    document.addEventListener("DOMContentLoaded", function () {
      const validJourney = localStorage.getItem("validJourney");
      console.log(validJourney);

      if (validJourney === 'true') {

        const form = document.forms.organisationForm;
        const storedOrganisationType = localStorage.getItem("organisationType");

        if (storedOrganisationType) {
          Array
            .from(form.elements.organisationType)
            .find((radio) => radio.value === storedOrganisationType)
            .checked = true
        }
        form.style.display = 'block';
      } else {
        document
          .getElementById('sorryMessage')
          .style
          .display = 'block';
      }
    });

    document
      .getElementById("organisationForm")
      .addEventListener("submit", function (event) {
        event.preventDefault();

        const organisationType = document
          .querySelector('input[name="organisationType"]:checked')
          .value;

        localStorage.setItem("organisationType", organisationType);

        this.submit();
      });
  </script>

{% endblock %}