{% extends 'common/base.njk' %}
{% set title = 'Organisation Type' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block backLink %}
  {{ govukBackLink({
  text: "Back",
  href: "/"
}) }}
{% endblock %}
{% block content %}
  <form method="post" action="/validate-organisation-type" id="organisationForm">
    {{ govukRadios({
  name: "organisationType",
  id: "organisation-type",
  fieldset: {
    legend: {
      text: "What is your organisation type?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      
    }
  },
  items: [
    {
      value: "Government department or Ministry"
      text: "Government department or Ministry"
    },
    {
      value: "Executive Agency",
      text: "Executive Agency"
    },
    {
      value: "Arms length body"
      text: "Arms length body"
    },
    {
      value: "Other"
      text: "Other"
    }
  ],
   errorMessage:  { text: "Select one option" }  if showError
}) }}

    {{ govukButton({
    text: "Continue",
    type: 'submit'
  }) }}

  </form>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const storedOrganisationType = localStorage.getItem("organisationType");

      const form = document.forms.organisationForm

      if (storedOrganisationType) {
        Array
          .from(form.elements.organisationType)
          .find(
            (radio) => radio
            ?.value === storedOrganisationType)
          .checked = true
      }
    });

    document
      .getElementById("organisationForm")
      .addEventListener("submit", function (event) {
        event.preventDefault();

        const organisationType = document.querySelector('input[name="organisationType"]:checked')
          ?.value;

        if (organisationType) {
          localStorage.setItem("organisationType", organisationType);
        }

        this.submit();
      });
  </script>
{% endblock %}