{% extends 'common/base.njk' %}
{% set title = 'Service Description' %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% block backLink %}
  {{ govukBackLink({ text: "Back", href: "/help-with-hint" }) }}
{% endblock %}
{% block content %}

  <form method="post" action="/validate-service-description" id="serviceDescriptionForm">

    {{ govukTextarea({
  name: "serviceDescription",
  id: "service-description",
  label: {
    text: "Describe your service",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "Describe your service, what it does, who it helps and why? Also tell us if it's a new service that has not launched yet."
  },
  errorMessage: {
    text: "Enter a short description of your service"
  } if showError
}) }}
    {{ govukButton({
  text: "Continue",
  type: "submit"
}) }}
  </form>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const storedServiceDescription = localStorage.getItem("serviceDescription");
      const textField = document.getElementById("service-description");

      textField.value = storedServiceDescription ?? null;
    });

    document
      .getElementById("serviceDescriptionForm")
      .addEventListener("submit", function (event) {
        event.preventDefault();

        const serviceDescription = document
          .getElementById("service-description")
          .value;

        localStorage.setItem("serviceDescription", serviceDescription);

        this.submit();
      });
  </script>
{% endblock %}