{% extends 'common/base.njk' %}
{% set title = 'Summary page' %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set organisationTypeHtml %}
<div id="organisationTypeContainer"></div>
{% endset %}

{% set helpWithHintsHtml %}
<div id="helpWithHintContainer"></div>
{% endset %}

{% set serviceDescriptionHtml %}
<div id="serviceDescriptionContainer"></div>
{% endset %}

{% set chooseLocationHtml %}
<div id="chooseLocationContainer"></div>
{% endset %}

{% set enterEmailHtml %}
<div id="enterEmailContainer"></div>
{% endset %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% block backLink %}
  {{ govukBackLink({ text: "Back", href: "/enter-email" }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Check answers</h1>

  {{ govukSummaryList({
    classes: "govuk-summary-list__row--no-actions",
      fieldset: {
    legend: {
      text: "Check answers",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  rows: [
    {
      key: {
        text: "What is your organisation type?"
      },
    value: {
        html:  organisationTypeHtml 
      },
    actions: {
        items: [
          {
            href: "/organisation-type?editMode=true",
            text: "Change",
            visuallyHiddenText: "organisationType"
          }
        ]
      }
    },
    {
      key: {
        text: "What would you like help with?"
      },
      value: {
        html: helpWithHintsHtml
      },
      actions: {
        items: [
          {
            href: "/help-with-hint?editMode=true",
            text: "Change",
            visuallyHiddenText: "helpWithHints"
          }
        ]
      }
    },
    {
      key: {
        text: "Describe your service"
      },
      value: {
        html: serviceDescriptionHtml
      },
      actions: {
        items: [
          {
            href: "/service-description?editMode=true",
            text: "Change",
            visuallyHiddenText: "Service description"
          }
        ]
      }
    },
    {
      key: {
        text: "Choose your location"
      },
      value: {
        html:  chooseLocationHtml
      },
      actions: {
        items: [
          {
            href: "/choose-location?editMode=true",
            text: "Change",
            visuallyHiddenText: "Choose location"
          }
        ]
      }
    },
     {
      key: {
        text: "What is your email"
      },
      value: {
        html:  enterEmailHtml
      },
      actions: {
        items: [
          {
            href: "/enter-email?editMode=true",
            text: "Change",
            visuallyHiddenText: "Enter email"
          }
        ]
      }
    }
  ]
}) }}

  <script>
    document
      .getElementById("organisationTypeContainer")
      .textContent = localStorage.getItem("organisationType");

    const storedHelpWithHints = localStorage.getItem("helpWithHint");

    if (storedHelpWithHints) {
      const values = storedHelpWithHints
        .split('/')
        .map(el => {
          return `${el}</br>`;
        });

      document
        .getElementById("helpWithHintContainer")
        .innerHTML = values.join("");
    }

    document
      .getElementById("serviceDescriptionContainer")
      .textContent = localStorage.getItem("serviceDescription");

    document
      .getElementById("chooseLocationContainer")
      .textContent = localStorage.getItem("chooseLocation");

    document
      .getElementById("enterEmailContainer")
      .textContent = localStorage.getItem("enterEmail");
  </script>

{% endblock %}